{
    "server": ["[::0]", "0.0.0.0"],
    "server_port": {{ ss_server_port }},
    "password": "{{ ss_password }}",
    "method": "{{ ss_encryption_method }}",
    "timeout": {{ ss_timeout }},
{% if ss_dns_addr is defined %}
    "addr": "{{ ss_dns_addr }}",
{% endif %}
{% if ansible_kernel | version_compare('3.7', '>=') %}
    "fast_open": {{ ss_fast_open }}
{% else %}
    "fast_open": false
{% endif %}
}
